# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# MyPy
.mypy_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment variables
.env
.env.*

# SQLite database
*.sqlite3

# macOS
.DS_Store

# Windows
Thumbs.db

# userfolder
out/
logs/

# userfile
devices.csv